<div id="card-list">
  <app-playing-card
    name="Bulb"
    [hp]="40"
    picture="assets/img/bulb.png"
    figureCaption="N° 001 Monster"
    attackName="Geo Impact"
    [attackStrength]="60"
    attackDescription="This is a long description and I don't know what to add - is it long enough ?"
  />
  <app-playing-card
    name="Pik"
    [hp]="49"
    picture="assets/img/pik.jpg"
    figureCaption="N° 002 Monster"
    attackName="Whatever"
    [attackStrength]="80"
    attackDescription="This is a WAYYYY too long description and I don't know what to add - is it long enough ?"
  />
</div>
